import React, {useState, useEffect } from 'react';

import { Container } from './{{pascalCase name}}-style'

interface {{pascalCase name}}Props {

}

const {{pascalCase name}}: React.FC<{{pascalCase name}}Props> = () => {

    return (
    <div>{{pascalCase name}}</div>
    )
    }


    export default {{pascalCase name}}